<div class="experience__container">
  <div class="animate__on__scroll">
    <div class="experience__box" data-aos="fade-up-right">
      <h3 class="fab fa-python">&nbsp; Heading3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
        ratione iure aperiam sit fugit expedita odio nulla nam laboriosam
        corporis iste eaque sequi consectetur non fuga quam, sapiente
        consequatur veniam.
      </p>
    </div>
    <div class="experience__box" data-aos="fade-up-left">
      <h3 class="fab fa-python">&nbsp; Heading3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
        ratione iure aperiam sit fugit expedita odio nulla nam laboriosam
        corporis iste eaque sequi consectetur non fuga quam, sapiente
        consequatur veniam.
      </p>
    </div>
    <div class="experience__box" data-aos="fade-up-right" data-aos-delay="100">
      <h3 class="fab fa-python">&nbsp; Heading3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
        ratione iure aperiam sit fugit expedita odio nulla nam laboriosam
        corporis iste eaque sequi consectetur non fuga quam, sapiente
        consequatur veniam.
      </p>
    </div>
    <div class="experience__box" data-aos="fade-up-left" data-aos-delay="150">
      <h3 class="fab fa-python">&nbsp; Heading3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
        ratione iure aperiam sit fugit expedita odio nulla nam laboriosam
        corporis iste eaque sequi consectetur non fuga quam, sapiente
        consequatur veniam.
      </p>
    </div>
    <div class="experience__box" data-aos="fade-up-right" data-aos-delay="100">
      <h3 class="fab fa-python">&nbsp; Heading3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
        ratione iure aperiam sit fugit expedita odio nulla nam laboriosam
        corporis iste eaque sequi consectetur non fuga quam, sapiente
        consequatur veniam.
      </p>
    </div>
    <div class="experience__box" data-aos="fade-up-left" data-aos-delay="150">
      <h3 class="fab fa-python">&nbsp; Heading3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
        ratione iure aperiam sit fugit expedita odio nulla nam laboriosam
        corporis iste eaque sequi consectetur non fuga quam, sapiente
        consequatur veniam.
      </p>
    </div>
    <div class="experience__box" data-aos="fade-up-right" data-aos-delay="100">
      <h3 class="fab fa-python">&nbsp; Heading3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
        ratione iure aperiam sit fugit expedita odio nulla nam laboriosam
        corporis iste eaque sequi consectetur non fuga quam, sapiente
        consequatur veniam.
      </p>
    </div>
    <div class="experience__box" data-aos="fade-up-left" data-aos-delay="150">
      <h3 class="fab fa-python">&nbsp; Heading3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
        ratione iure aperiam sit fugit expedita odio nulla nam laboriosam
        corporis iste eaque sequi consectetur non fuga quam, sapiente
        consequatur veniam.
      </p>
    </div>
  </div>
</div>
