<div class="main__container">
  <div class="first__inner__container">
    <div class="inner__container__image">
      <img src="images/me.png" alt="A picture of me" />
    </div>
    <div class="inner__container__content">
      <h3>Heading3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eos
        obcaecati libero eveniet, eligendi perspiciatis unde a possimus fugit
        aut tempora rem magnam quo error, totam quod commodi quidem, ullam qui
        earum tenetur voluptate sequi sunt amet! Alias, nulla inventore?
      </p>
    </div>
  </div>
  <div class="second__inner__container">
    <div class="inner__container__image">
      <img src="images/me2.png" alt="A picture of me" />
    </div>
    <div class="inner__container__content">
      <h3>Heading3</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eos
        obcaecati libero eveniet, eligendi perspiciatis unde a possimus fugit
        aut tempora rem magnam quo error, totam quod commodi quidem, ullam qui
        earum tenetur voluptate sequi sunt amet! Alias, nulla inventore?
      </p>
    </div>
  </div>
</div>
